<nav class="navbar navbar-nav" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right" >
      <li>
          <ul class="nav nav-pills nav-justified">
          <a class="navbar-brand" href='/'><i class="fa fa-skyatlas" aria-hidden="true"></i></a>
                    <li><a href="#">交互设计师</a></li>
                    <li><a href="#">工业设计师</a></li>
                    <li><a href="#">动图设计师</a></li>
                    <li><a href="#">网页设计师</a></li>
                    <li><a href="#">建筑设计师</a></li>

                  <% if !current_user %>
                    <li><%= link_to("登入", new_user_session_path) %></li>
                  <% else %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Hi!, <%= current_user.email %>
                          <b class="caret"></b>
                      </a>

                    <ul class="dropdown-menu">
                          <% if current_user.admin? %>
                          <li> <%= link_to("Admin Panel", admin_jobs_path) %> </li>
                          <% end %>
                          <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>
                  </ul>
                </ul>
                </li>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="jumbotron">
    <h1 class="title"> 设计界顶级招聘 </h1>
    <p class="slogan">百万年薪，唾手可得
    <br>
    富可敌国的美学生活，只在这里
    <br>
    The aesthetic experience in life
    </p>
    <p class="lead"><a class="btn btn-s btn-danger" href="/jobs">应聘</a></p>
 </div>

 <section id="company">
   <div class = "container-fluid">
     <div class="row">
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="https://d13yacurqjgara.cloudfront.net/users/315734/screenshots/3217219/grid_-_ecommerce_limited_edition_interaction.gif" alt="search" class = "img-rounded">
           <div class="caption">
             <p class="btn btn-s btn-danger" href="/jobs">网页设计职位</p>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/2da19646429433.5853a9cd5f1b7.jpg" alt="bid" class = "img-rounded">
           <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/b6b19746429433.5853a9cd5ebc8.jpg" alt="bid" class = "img-rounded">
           <div class="caption">
             <p class="btn btn-s btn-danger" href="/jobs">图形设计职位</p>
           </div>
         </div>
       </div>
       <div class="col-sm-4 ">
         <div class="thumbnail">
           <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b576c843989201.5804a632d4ab3.gif" alt="heart" class = "img-rounded">
           <div class="caption">
             <p class="btn btn-s btn-danger" href="/jobs">动图设计职位</p>
           </div>
         </div>
       </div>
     </div>
     <div class="col-sm-4 ">
       <div class="thumbnail">
         <img src="http://68.media.tumblr.com/c95693b2e64c7a5f7db12c4470329154/tumblr_oh5zu1IxfL1qddxjwo2_1280.jpg" alt="bid" class = "img-rounded">
         <div class="caption">
           <p class="btn btn-s btn-danger" href="/jobs">建筑设计职位</p>
         </div>
       </div>
     </div>
     <div class="col-sm-4 ">
       <div class="thumbnail">
         <img src="https://d13yacurqjgara.cloudfront.net/users/692322/screenshots/3217252/profile.png" alt="bid" class = "img-rounded">
         <div class="caption">
           <p class="btn btn-s btn-danger" href="/jobs">交互设计职位</p>
         </div>
       </div>
     </div>
     <div class="col-sm-4 ">
       <div class="thumbnail">
         <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/27188541203817.579cb0cb139a2.jpg" alt="bid" class = "img-rounded">
         <div class="caption">
            <p class="btn btn-s btn-danger" href="/jobs">工业设计职位</p>
         </div>
       </div>
     </div>
   </div>
 </section>
